/*Navigation bar section*/

.navbar{
    background-color: #F4F4F4;
    transform-style: preserve-3d;
}

.navbar::before{
    position: absolute;
    z-index: -1;
    width: 40vw;
    height: 50px;
    background-color: #CECDCD;
    content:'';
}

.navbar::after{
    position: absolute;
    right:0;
    top:0;
    z-index: -1;
    width: 40vw;
    height: 50px;
    background-color: #9E9D9D;
    content:'';
}

/*Top navigation bar section*/


.navbar__top{
    height: 50px;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

.navbar__login-section{
    height: 100%;
    width: auto;
    background-color: #9E9D9D;
    display: flex;
    align-items: center;
}

.navbar__login-btn{
    margin: 0 25px;
    text-decoration:none;
    color: #212121;
}

/*change background when clicked*/

.active{
    position: relative;
    transition: all, .6s;
    color:white;
    transform-style: preserve-3d;
}

.active::after{
    content: '';
    height: 51px;
    width: calc(100% + 50px);
    transition: all, .6s;
    position: absolute;
    bottom: calc(0px - 15px);
    left: 50%;
    transform: translateX(-50%);
    background: #5E5E5E;
    z-index: -1;
}

.navbar__general-section{
    width: 100%;
    height: 100%;
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
}

.navbar__general-btn{
    margin: 0 25px;
    text-decoration:none;
    color: #5E5E5E;
}

/*Bottom navigation bar section*/

.navbar__bot{
    width: 100%;
    height: 30px;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
}

.navbar__bot-link{
    text-decoration:none;
    color: #5A92C8;
}

.navbar__bot-link:last-child{
    text-decoration:none;
    color: #5E5E5E;
    pointer-events: none;
}

.navbar__bot-link:not(:first-child)::before{
    content: '/';
    color: #5E5E5E;
    margin: 0 5px;
}

/*mobile menu*/

.navbar__mobile-menu{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.navbar__mobile-btn {
    cursor: pointer;
    display: flex;
    min-width: 12px;
    min-height: 14px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 5px 3px;
    background-color: #9E9D9D;
    border-radius: 4px;
}

.navbar__mobile-btn span {
    display: block;
    margin-bottom: 5px;
    width: 24px;
    height: 3px;
    border-radius: 100px;
    background: #FFFFFF;
}

.navbar__mobile-btn span:last-child {
    width: 12px;
    margin-bottom: 0;
}

.open {
    transform: translateX(0%)!important;
}

.navbar__mobile-section{
    transform: translateX(-100%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all, .4s;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: calc(100vh - 61px);
    background: #5C62EC;
}

.navbar__mobile-section-btn{
    text-decoration:none;
    font-size: 48px;
    line-height: 64px;
}

@media only screen and (max-width: 480px) {
    .navbar__container{
        padding:0!important;
    }

    .navbar{
        transform-style: flat;
    }
    .navbar__mobile-menu{
        display: flex;
    }

    .navbar__mobile-section{
        display: flex;
    }

    .navbar__general-section{
        display: none;
    }
}